.input {
  display: flex;
  padding: 0 1rem;
  margin-bottom: 1rem;
  margin-top: 20rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  height: 4.5rem;
  background-color: #ffffff;
  border: 3px solid #8d9ecc;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.active {
  outline: 3px solid #bec8ec;
}

.input_text {
  font-size: 2rem;
  color: #8f949a;
  width: 90%;
  height: 90%;
  outline: none;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
}
