@import "./fonts";

html {
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #8f949a;
  font-size: 2rem;
  overflow: hidden;
}
.center {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  margin-top: 20rem;
}
