.option {
  background-color: #ffffff;
  border: 3px solid #c3c6cb;
  width: 100%;
  padding: 1rem;
  min-height: 4.5rem;
  max-height: 25rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
